<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="servidor" value="monorail.proxy.rlwy.net" />
		<add key="puerto" value="13917" />
		<add key="usuario" value="postgres" />
		<add key="contraseña" value="ivKCvkRvvhxVXvIfaKNUiSdVremhYuWG" />
		<add key="baseDatos" value="railway" />
	</appSettings>
</configuration>